:root {
  --slide-width: 1366px;
  --slide-height: 1024px;
  --bg-color: #f1f4f9;
  --text-color: #000;
  --accent: #ff9a00;
}

@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Gilroy-Light.woff2") format("woff2");
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Gilroy-Extrabold.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  font-family: Gilroy, Arial, sans-serif;
  color: var(--text-color);
}
